<div class="ocean-scene" aria-label="멀리 보이는 태평양과 야자수 사이 해먹에서 쉬는 Jae의 실루엣">
  <div class="sun"></div>
  <div class="cloud cloud-one"></div>
  <div class="cloud cloud-two"></div>
  <div class="island island-left"></div>
  <div class="island island-right"></div>
  <div class="palm palm-left"><span></span></div>
  <div class="palm palm-right"><span></span></div>
  <div class="hammock"><i></i></div>
  <div class="ocean-copy">
    <span>THE DREAM</span>
    <strong>Build from<br />anywhere.</strong>
  </div>
  <div class="wave wave-one"></div>
  <div class="wave wave-two"></div>
</div>
